/* debug */

.bgc_white {
  background-color: white;
}

.bgc_lgreen {
  background-color: lightgreen;
}

.bgc_dblue {
  background-color: lightblue;
}

.bgc_dblue {
  background-color: blue;
  color: white;
}

.bgc_yellow {
  background-color: yellow;
}

.bgc_dgrey {
  background-color: darkgrey;
}

.bgc_lgrey {
  background-color: lightgrey;
}

.bgc_brown {
  background-color: brown;
}

.col_red {
  color: red;
}
.pdt_25 {
  padding-top: 25px;
}

.mg_auto {
  margin: 0 auto;
}

.pdl_5px {
  padding-left: 5px;
}

.mgl_5 {
  margin-left: 5px;
}
/* p {
  margin-top: 20px;
} */

.mgt_30 {
  margin-top: 30px;
}

.pd_30 {
  padding: 30px 0;
}

.form_test {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo_text {
  height: 70px;
  border: 1px solid black;
  background-color: brown;
}

.box_app {
  background-color: lightgreen;
  margin-top: 10px;
}

.box_slide {
  width: 100%;
  height: 200px;
  background-color: red;
}

.box_features {
  background-color: lightgreen;
  margin-top: 10px;
}

/* MIX */

/* font generale della pagina */
body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

/* header top */
.header_top {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

/* impostazioni per allign verticale delle voci di menu */
.header_top nav {
  height: 80px;
  line-height: 80px;
}

/* colore voci di menu header top */
.header_top nav a {
  color: #031c4e;
  text-decoration: none;
}

/* colore hover per voci di menu header top */
.header_top li a:hover {
  color: #004aff;
}

/* dimensioni e centratura logo Digital Ocean */
#logo_do {
  max-width: 180px;
}

.logo_do {
  line-height: 80px;
  height: 80px;
}

#btn_signup {
  border: 1px solid #004aff;
  border-radius: 4px;
  padding: 8px 12px;
  color: #004aff;
}

#btn_signup:hover {
  background-color: #579aff;
  color: white;
}

.hamburger_ico {
  color: #2586fd;
  font-size: 20px;
}
.h_80 {
  height: 80px;
}

.lh_80 {
  line-height: 80px;
}


.header_jumbotron {
  position: relative;
  top: 80px;
}

main {
  position: relative;
  top: 80px;
}

footer {
  position: relative;
  top: 80px;
}
