/* debug */

.bgc_white {
  background-color: white;
}

.bgc_lgreen {
  background-color: lightgreen;
}

.bgc_dblue {
  background-color: lightblue;
}

.bgc_dblue {
  background-color: blue;
  color: white;
}

.bgc_yellow {
  background-color: yellow;
}

.bgc_dgrey {
  background-color: darkgrey;
}

.bgc_lgrey {
  background-color: #f3f5f9;
}

.bgc_brown {
  background-color: brown;
}

.col_red {
  color: red;
}

.col_grey_do {
  color: #6f7b97;
}

.pdt_25 {
  padding-top: 25px;
}

.mg_auto {
  margin: 0 auto;
}

.pdl_5px {
  padding-left: 5px;
}

.mgl_5 {
  margin-left: 5px;
}
/* p {
  margin-top: 20px;
} */

.mgt_10 {
  margin-top: 10px;
}

.mgt_30 {
  margin-top: 30px;
}

.mgt_15 {
  margin-top: 15px;
}

.mgb_50 {
  margin-bottom: 50px;
}

.mgb_15 {
  margin-bottom: 15px;
}

.mgt_40 {
  margin-top: 40px;
}

.pdt_40 {
  padding-top: 40px;
}

.pdt_70 {
  padding-top: 70px;
}

.pdb_60 {
  padding-bottom: 60px;
}
.pdb_30 {
  padding-bottom: 30px;
}
.pdtb_50 {
  padding: 50px 0px;
}



.form_box {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.box_features {
  background-color: lightgreen;
  margin-top: 10px;
}

/* MIX */

/* font generale della pagina */
body {
  font-family: 'Roboto', sans-serif;
}

main {
  position: relative;
  top: 70px;
}

footer {
  position: relative;
  top: 70px;
}


.no_dec {
  text-decoration: none;
}

.li_depoint {
  list-style: none;
}

/* TYPO */

h1 {
  font-size: 64px;
  font-weight: 500;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bolder;
}

.header_jumbotron p {
  font-size: 23px;
  color: #bbcdff;
}

.form_box h3 {
  font-size: 32px;
  font-weight: 700;
}

.applications p, .slider1 p {
  font-size: 23px;
  font-weight: 500;
  color: #5c6a88;
}

.slider1 p {
  font-size: 23px;
  font-weight: 500;
  color: #586686;
}



.col_blue_lite {
  color: #006aff;
}

.col_blue_dark {
  color: #32446c;
}

/* HEADER */

/* header top */
.header_top {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

/* impostazioni per allign verticale delle voci di menu */
.header_top nav {
  height: 70px;
  line-height: 70px;
}

/* colore voci di menu header top */
.header_top nav a {
  color: #031c4e;
  text-decoration: none;
}

/* colore hover per voci di menu header top */
.header_top li a:hover {
  color: #004aff;
}

/* dimensioni e centratura logo Digital Ocean */
#logo_do {
  max-width: 180px;
}

.logo_do {
  line-height: 60px;
  height: 70px;
}

#btn_signup {
  border: 1px solid #004aff;
  border-radius: 4px;
  padding: 8px 12px;
  color: #004aff;
}

#btn_signup:hover {
  background-color: #579aff;
  color: white;
}

.hamburger_ico {
  color: #2586fd;
  font-size: 20px;
}
.h_80 {
  height: 80px;
}

.lh_80 {
  line-height: 80px;
}

/* JUMBOTRON */

.header_jumbotron {
  position: relative;
  top: 70px;
  background-image: linear-gradient(to top,  #001e9a, #0048c5);
}


/* input form */

.btn_form {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.btn_form:hover {
  text-decoration: none;
}

.btn_blue {
  background-color: #579aff;
  color: #fff;
}

.btn_blue:hover {
  color: #fff;
}

.btn_white {
  background-color: #fff;
  color: #626262;
  box-shadow: 2px 2px #e3e3e3;
}

.btn_white:hover {
  color: #626262;
}

.form_box {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Google G logo */
.logo_g {
  height: 25px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.btn_google {
  position: relative;
}

#f_email, #f_password {
  font-size: 18px;
  height: 45px;
}

#f_email::placeholder {
  color: #757575;
}

#f_password::placeholder {
  color: #757575;
}

.terms_service {
  text-decoration: underline;
}


/* sezione LOGHI */
.logo_set {
  width: 100%;
}

.logo_v_align {
  height: 135px;
  line-height: 135px;
}

.loghi h4 a:hover {
  text-decoration: none;
  color: #006aff;
}

/* sezione APPLICATIONS   */

.nav_deploy {
  border-left: 2px solid #cccccc;
  margin-left: 90px;
  padding: 8px 0px;
}

.nav_deploy ul {
  padding-left: 15px;
  margin-bottom: 0px;
}

.nav_deploy li {
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  color: #75809a;
}

.nav_deploy li:nth-child(1n+2) {
  padding-top: 20px;
}

.box_app {
  margin-top: 10px;
}

.box_app p {
  font-size: 16px;
  color: #75809a;
}

/* sezione SLIDER1 */
.img_slide1 {
  width: 100%;
}

.slide_circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #006aff;
  border-radius: 50%;
}

.radio_caption li:nth-child(1) a {
  background-color: #006aff;
}

.radio_caption li {
  padding: 0px 3px;
}

.slider {
  position: relative;
}

.slide_angle {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-angle-left {
  color: #6f7b97;
  left: -50px;
}

.fa-angle-right {
  right: -50px;
}

.img_slide1 {
  display: inline-block;
}

/* MEDIA QUERY XS */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .header_jumbotron p {
    font-size: 20px;
  }

  .form_box h3 {
    font-size: 32px;
  }

  .logo_set {
    width: 100%;
  }

  .logo_v_align {
    height: 275px;
    line-height: 275px;
  }

  .loghi h4 {
    font-size: 22px;
  }

  /* sezione SLIDER1 */

  /* allontata i pallini dalla caption */
  .radio_caption {
    margin-top: 90px;
  }

  /* distanzia lo slider */
  .slider {
    margin-top: 100px;
  }

  /* diminuisce diametro pallini */
  .slide_circle {
    width: 12px;
    height: 12px;
    border: 1px solid #006aff;
  }

  /* avvicina i pallini */
  .radio_caption li {
    padding: 0px 1px;
  }

  /* nasconde gli angle left e right */
  .slide_angle {
    display: none;
  }

}


/* MEDIA QUERY XS */
@media screen and (max-width: 450px) {
  .logo_set {
    /* border: 1px solid black; */
    /* background-color: brown; */
    width: 100%;
  }

  .logo_v_align {
    height: 180px;
    line-height: 180px;
  }

  .loghi h4 {
    font-size: 18px;
  }

}

/* MEDIA QUERY XXS < 300px */
@media screen and (max-width: 300px) {
  .logo_set {
    /* border: 1px solid black; */
    /* background-color: brown; */
    width: 100%;
  }

  .logo_v_align {
    height: 90px;
    line-height: 90px;
  }

  .loghi h4 {
    font-size: 18px;
  }

}


  /* MEDIA QUERY SM */
@media screen and (min-width: 769px) and (max-width: 991px) {
  /* #logo_do {
    width: 130px;
  } */

  h1 {
    font-size: 38px;
  }

  .header_jumbotron p {
    font-size: 26px;
  }

  .form_box h3 {
    font-size: 32px;
  }

  /* sezione SLIDER1 */

  /* allontata i pallini dalla caption */
  .radio_caption {
    margin-top: 90px;
  }

  /* distanzia lo slider */
  .slider {
    margin-top: 100px;
  }

  /* diminuisce diametro pallini */
  .slide_circle {
    width: 12px;
    height: 12px;
    border: 1px solid #006aff;
  }

  /* avvicina i pallini */
  .radio_caption li {
    padding: 0px 1px;
  }

}



/* MEDIA QUERY MD */
@media screen and (min-width: 992px) and (max-width: 1199px) {

  #logo_do {
    width: 130px;
  }

  h1 {
    font-size: 48px;
  }

  .header_jumbotron p {
    font-size: 24px;
  }

  .form_box h3 {
    font-size: 32px;
  }

}
